body {
  background-color: rgb(227, 219, 219);
}
.singup {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 100vh;
  width: auto;
}

#show-signup {
  display: block;
}

.singup-form {
  min-height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 20px;
  position: relative;
}

#show-login {
  display: block;
}

.login {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: auto;
  width: auto;
}

.form-heading {
  display: flex;
  justify-content: center;
}

.login-form {
  min-height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 20px;
  position: relative;
}

.uname,
.pass {
  margin-top: 20px;
}

.forgot {
  float: right;
}

a {
  text-decoration: none;
}

.btn {
  margin-top: 20px;
}

.signin {
  cursor: pointer;
}

/* login form */

.cross-icon {
  position: absolute;
  top: 5px;
  right: 7px;
  margin: 0;
  cursor: pointer;
}

.cross-icon a {
  color: black;
}
.error-message {
  font-family: "roboto";
  color: red;
}
