.product-image {
  height: 300px;
  cursor: pointer;
}

.product-image {
  transition: transform 0.4s ease;
}

.product-image:hover {
  transform: scale(1.05);
}
.card {
  height: 500px;
  font-size: 14px;
}
.heart {
  cursor: pointer;
}
