* {
  margin: 0;
  padding: 0;
}
.navbar-brand {
  font-family: "Dancing Script";
  font-size: 2vw;
  margin-left: 20px;
}

.nav-link {
  font-family: "Roboto";
  font-size: 1.5vw;
  color: black;
}

@media screen and(min-width:768px) and (max-width: 1024px) {
  .navbar-brand {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    font-size: 5vw;
  }
}
